.checkout-complete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    background: #01003C;
    font-family: 'Libre Caslon Display', sans-serif;
  }
  
  .thank-you-container {
    text-align: center;
    padding: 50px;
    max-width: 600px;
  }
  
.thank-you-container{
    color: white
}
  

.thank-you-container button {
    padding: 10px 20px;
    background-color: #ffd977;
    ;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
