.checkout-container {
  font-family: 'Libre Caslon Display', sans-serif;
  background-color: white;
  }
  
.checkout-title{
    font-family: 'Libre Caslon Text', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    color: #000 !important;
    font-size: 30px;
  }

  .back-button {
    padding: 10px 15px;
    background-color: #FFD977;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    top: 20px; 
    left: 20px;
  }

  .checkout-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px; 
      background-color: #fff;
      max-width: 100vw;
      height: 100vh; 
      
  }
  
  .checkout-header {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 10px; 
  }
  
  .checkout-columns {
      display: flex;
      justify-content: space-between; 
      align-items: flex-start; 
      width: 100%;
      max-width: 1200px;
  }
  
  .checkout-column {
      display: flex;
      flex-direction: column;
      width: 35%;
     /* width: calc(50% - 10px); */
      max-width: 50%;
      padding: 20px; 
  }
  
  .column-header, .section-title {
      font-size: 20px; 
      font-weight: bold;
      margin-bottom: 10px; 
  }
  
  .input-label {
      margin-bottom: 5px;
  }
  
  .input-field {
      padding: 8px; 
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      background-color: #f6f6f6;
      width: calc(100% - 20px);
  }
  
  .input-row {
      display: flex;
      justify-content: space-between;
      gap: 100px;
    }
    
    .input-group {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-right: 5px; 
    }
  
    .input-group:last-child {
      margin-right: 0;
    }
    
    .input-field-small {
      flex: 1;
      max-width: none; 
      border: 1px solid #ccc;
      border-radius: 6px !important;
      width: calc(100% - 20px);
    }
    
    .input-group:last-child {
      margin-right: 0;
    }
  
    
    .payment-input-row .input-group {
      flex-basis: calc(30% - 80px); 
      flex-grow: 0;
    }
    
    
    .payment-input-row .input-group:last-child {
      flex-grow: 0; 
    }
  
  .column-header {
      text-align: center; 
  } 
  
  .order-summary-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      border-bottom: 1px solid #eaeaea;
      margin-bottom: 10px;
    }
    
  .order-item-image {
      width: 50px;
      height: auto;
      margin-right: 10px; 
    }
  
  .item-name {
    font-family: 'Libre Caslon Text', sans-serif;
    font-size: 14px; 
  }
  
  .item-details {
    font-family: 'Libre Caslon Display', sans-serif; 
    font-size: 12px; 
    color: #555; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .item-detail {
    font-family: 'Libre Caslon Display', sans-serif; 
    font-size: 12px; 
    color: #555; 
  }
  
  .item-price {
    font-family: 'Libre Caslon Display', sans-serif; 
    font-size: 13px; 
    color: #000; 
    font-weight: bold; 
  }
  
  .order-item-image {
      max-width: 100%;
      width: 100px;
      height: auto; 
      border-radius: 4px; 
    }
    
  
  .subtotal-row, .shipping-row{
      font-family: 'Libre Caslon Text', sans-serif;
      font-size: 15px; 
      margin-top: 10px;
  }
  
  .total-row {
      font-family: 'Libre Caslon Text', sans-serif;
      font-style: bold;
      font-size: 20px; 
      margin-top: 10px;
  
  }
  .subtotal-row, .shipping-row,.total-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  
  .amount-label {
      text-align: left;
      float: left;
  }
  
  .amount-value {
      text-align: right;
      float: right;
  }
  
  .amount-row::after {
      content: "";
      display: table;
      clear: both;
  }
  
  .checkout-button {
      display: block;
      margin-top: 10px; 
      padding: 10px 20px; 
      background-color: #FFD977;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      width: auto;
      max-width: 150px;
      margin-left: auto;
      margin-right: auto;
  }

  .input-field-small {
    padding: 10px; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: calc(100% - 20px); 
    font-size: 14px; 
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    gap: 30px; 
  }
  
  
  
  /* Responsive layout adjustments */
  @media (max-width: 768px) {
      .checkout-container {
          padding: 10px; 
      }
  
      .checkout-columns {
          flex-direction: column;
          align-items: center;
      }
  
      .checkout-column {
          width: 100%; 
          max-width: 100%;
          margin-bottom: 10px; 
      }
  
      .checkout-button {
          margin-top: 10px;
      }
  }