/* Main page styles */
.reset-password-page {
    display: flex;
    min-height: 100vh;
    font-family: 'Libre Caslon Display', serif;
  }
  
  /* Left side card */
  .reset-password-card {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    background: white;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
  
  /* Back button styling */
  .back-button {
    font-family: 'Libre Caslon Display', sans-serif;
    color: #000;
    cursor: pointer;
    position: absolute;
    top: 15%;
    left: 25%;
  }
  
  /* Reset password title styles */
  .reset-password-title {
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 1.5rem; 
    font-weight: normal; 
    color: #000; 
    margin-bottom: 1rem; 
  }
  
  /* Reset form container */
  .reset-form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  /* Reset label */
  .reset-label {
    font-family: 'Libre Caslon Display', sans-serif;
    align-self: flex-start;
    margin-bottom: 0.5rem;
    color: #000;
  }
  
  /* Reset input field */
  .reset-input {
    padding: 0.5rem;
    margin-bottom: 1rem; 
    border: none;
    border-radius: 6px;
    background-color: #f6f6f6;
    width: 100%;
  }
  
  /* Reset button styling */
  .reset-button {
    background-color: #ffd977;
    color: #000;
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    padding: 0.75rem 1rem; 
    width: 85%;
    margin-bottom: 2rem; 
    border-radius: 10px; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Error message styling */
  .error-message {
    color: red;
  }
  
  /* Right side card */
  .brand-story-card {
    flex: 45%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 4rem; 
    background: #01003C;
    color: #FFD977;
    position: relative; 
    overflow: hidden;
  }
  
  /* Regalia */
  .brand-title {
    font-family: 'Kapakana', cursive;
    font-size: 2.5rem;
    position: absolute; 
    top: 1rem; 
    left: 4rem; 
    padding: 0;
  }
  
  /* Responsibly crafted jewellery */
  .brand-slogan {
    font-family: 'Playball', cursive;
    font-size: 3.5rem; 
    text-align: center; 
    margin-top: 1rem; 
    margin-bottom: 0.5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  /* Each line of the slogan */
  .brand-slogan p {
    margin: 0.2rem 0; 
  }
  
  /* Tagline in the brand card */
  .brand-tagline {
    font-size: 1.8rem;
    text-align: center; 
    margin-bottom: 1rem; 
  }
  
  /* Media query for tablet devices */
  @media (max-width: 768px) {
    .brand-story-card {
      padding: 2rem; 
    }
    
    .brand-title {
      font-size: 2rem; 
    }
  
    .brand-slogan {
      font-size: 2.5rem; 
      margin-top: 1rem; 
      margin-bottom: 0.5rem; 
    }
  
    .brand-tagline {
      font-size: 1.4rem; 
      margin-bottom: 0.5rem; 
    }
  }
  
  /* Media query for mobile devices */
  @media (max-width: 480px) {
    .brand-story-card {
      padding: 1rem;
    }
  
    .brand-title {
      font-size: 1.5rem; 
      top: 0.5rem; 
      left: 0.5rem; 
    }
  
    .brand-slogan {
      font-size: 2rem; 
      margin-top: 0.5rem; 
      margin-bottom: 0.25rem;
    }
  
    .brand-tagline {
      font-size: 1.2rem; 
      margin-bottom: 0.25rem;
    }
  }  