.container-fluid {
  padding: 0;
}

h1 {
  font-family: playball;
  font-size: 5em;
}

p {
  font-family: Libre Caslon Display;
}

.section {
  position: relative;
  height: 100vh;
}

.section .text-container {
  padding: 30px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section .text-container h1 {
  color: rgb(255, 217, 119);
  margin-bottom: 30px;
}

.section .text-container p {
  font-size: 24px;
  margin-bottom: 30px;
}

.section .text-container button {
  background-color: rgb(255, 217, 119) !important;
  color: rgb(1, 0, 59) !important;
  display: block;
  margin: 0 auto;
  border: none !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin-top: 10px;
}

.section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Section-2 Styling */
.section-2, .rings-section, .bracelets-section {
  padding: 50px;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-2 h1, .rings-section h1, .bracelets-section h1 {
  color: rgb(1, 0, 59);
  font-size: 3.5em;
  padding-bottom: 20px;
}

.section-2 p, .rings-section p, .bracelets-section p{
  color: rgb(1, 0, 59);
  font-size: 24px;
  margin-bottom: 20px;
}

.section-2 button, .rings-section button, .bracelets-section button {
  background-color: rgb(255, 217, 119) !important;
  color: rgb(1, 0, 59) !important;
  border: none !important;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-2 img, .rings-section img, .bracelets-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px; 
}

/* Section-3 Styling */
.section-3, .necklaces-section {
  padding: 50px;
  background-color: rgb(1, 0, 59);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-3 h1, .necklaces-section h1 {
  color: rgb(255, 217, 119);
  font-size: 3.5em;
  padding-bottom: 20px;
}

.section-3 p, .necklaces-section p{
  color: rgb(255, 217, 119);
  font-size: 24px;
  margin-bottom: 20px;
}

.section-3 button, .necklaces-section button {
  background-color: rgb(255, 217, 119) !important;
  color: rgb(1, 0, 59) !important;
  border: none !important;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-3 img, .necklaces-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px; 
}

/* Section-4 Styling */
.section-4 {
  padding: 50px 0;
  background-color: #f8f9fa; 
  text-align: center;
}

.section-4 h1 {
  color: rgb(1, 0, 59);
  font-size: 3em;
  margin-bottom: 40px;
}

.carousel-container {
  position: relative;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  text-align: left;
  position: relative;
}

.card-img-top {
  border-radius: 15px 15px 0 0;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.card-icons {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-icons .fa-heart {
  margin-right: 10px;
}
