.table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
  }
  
  .table th,
  .table td {
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    
  }

  .table th {
    background-color: #f8f9fa;
  }
  
  .table tr:nth-child(even) {
    background-color: #f8f9fa;
  }
