.contact-page body {
  background-color: rgba(255, 255, 240, 1);
}

.contact-page .logoMain {
  color: rgb(255, 217, 119) !important;
  font-family: 'Kapakana' !important;
  font-size: 70px !important;
  font-weight: 400;
}

.contact-page h4 {
  color: rgb(255, 217, 119) !important;
  font-family: 'Kapakana' !important;
  font-size: 40px;
  font-weight: 400;
}

.contact-page h6 {
  color: white;
  font-size: 20px !important;
  font-weight: 200;
  font-variant-caps: all-petite-caps;
  margin-top: 1rem;
  letter-spacing: 0.5rem;
}

.contact-page .form-label {
  color: black;
  font-family: "Libre Caslon Display"  !important;
  margin-top: 1rem;
}

.contact-page #boxBlue {
  background: rgba(1, 0, 60, 1);
}

.contact-page .text-black.text-center.cu {
  font-family: "Libre Caslon Display"  !important;
  font-size: 50px !important;
}

.contact-page .btn-primary, 
.contact-page .btn-primary:hover, 
.contact-page .btn-primary:active, 
.contact-page .btn-primary:visited {
  border: 0;
}

.contact-info p {
  color: rgb(255, 217, 119); /* Change text color to gold */
}

.contact-page .back-button {
  position: absolute;
  top: 20px; /* Adjust as per your spacing requirements */
  left: 20px; /* Adjust as per your spacing requirements */
  padding: 10px 20px; /* Padding for the button */
  background-color: rgb(255, 217, 119); /* Background color for the button */
  color: #000; /* Text color for the button */
  text-decoration: none; /* No underline */
  border-radius: 5px; /* Rounded corners for the button */
  font-weight: bold; /* Bold text */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: shadow for button */
  z-index: 1000; /* Ensure it's above other elements */
}

.contact-page .back-button:hover {
  background-color: rgb(237, 181, 39); /* Slightly darker background on hover */
}
