.forgot-password-page {
    display: flex;
    min-height: 100vh;
    font-family: 'Libre Caslon Display', serif; 
  }
  
  .email-confirmation-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    background: white; 
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1); 
    padding-top: 4rem; 
    padding-right: 2rem; 
    padding-bottom: 2rem; 
    padding-left: 2rem; 
  }
  
  .email-form-container {
    max-width: 400px; 
    margin: auto;
  }
  
  .back-button {
    margin-bottom: 2rem; 
    color: #000; 
    cursor: pointer;
    position: absolute; 
    top: 5rem; 
    left: 3rem; 
  }
  
  .email-confirmation-title {
    font-family:'Libre Caslon Display', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333; 
  }
  
  .email-form {
    display: flex;
    flex-direction: column;
  }
  
  .email-label {
    align-self: flex-start;
    margin-bottom: 0.5rem;
    color: #333; 
  }
  
  .email-input, .send-link-button {
    padding: 0.5rem;
    margin-bottom: 1rem; 
    border: 1px solid #ccc;
    border-radius: 4px; 
  }
  
  .send-link-button {
    background-color: #ffd977;
    color: #333; 
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom: 1rem; 
    width: 50%; 
    margin-left: auto; 
    margin-right: auto;
    font-family: 'Libre Caslon Display', sans-serif;
  }
  
  
  .brand-story-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 4rem;
    background: #01003C; 
    color: #FFD977; 
    position: relative; 
  }
  
  .brand-title {
    font-family: 'Playball', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 2.5rem; 
  }
  
  .brand-slogan {
    font-family: 'Playball', sans-serif;
    font-size: 4rem;
    margin-top: 4rem; /* Space between title and slogan */
    text-align: center;
  }
  
  .brand-tagline {
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 2rem;
    margin-top: 0.5rem; /* Space between slogan and tagline */
    text-align: center;
  }
  
  
  