<div
    class="mail"
    style="
        display: flex;
        flex-direction: column;
        margin-right: 20%;
        margin-left: 20%;
        border: 2px solid black;
      "
>
<span style="">
    <div class="header" style="border-bottom: 2px solid black; display: flex; flex-direction:column; gap: 10%">
          {{!-- <h2>Logo</h2> --}}
        <h2>Regalia</h2>
    </div>

    <div class="top">
        <p>Hello {{ name }},</p>
    </div>

    <div
        class="title"
        style="display: flex; justify-content: center; align-items: center">
        <p>Forgot your password?</p>
    </div>

    <div class="body" style="text-align: center">
        <p>We received a request to reset your password. To reset, enter your OTP and your new password on the website.</p>
        <p>Here is your OTP:</p>
        <p style="border: 2px solid black; border-radius: 8px;">{{ otp }}</p> 
    </div>
     <p>If you did not request this email you can safely ignore it.</p>
</span>
</div>